.bloque7{
    width: 1440px;
    height: 248px;

    padding: 80px;
    gap: 160px;

    background-color: rgba(164, 7, 77, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-bq7{
    width: 560px;
    height: 86px;

    line-height: 43.2px;
    font-size: 36px;
    font-weight: 600;
    color: white;
    
}

.gmail{
    width: 580px;
    height: 88px;
    border-radius: 24px;

    padding: 8px 8px 8px 40px;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.name-email{
    width: 277px;
    height: 24px;
    display: flex;
    align-items: center;
    opacity: 70%;

    font-size: 30px;
    font-weight: 400;

    gap: 10px;
    
}

.join-now{
    width: 187px;
    height: 72px;

    border-radius: 16px;
    gap: 16px;

    background-color: rgba(26, 36, 52, 1);
    color: white;
    font-size: 25px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}